# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

In [3]:
import pandas as pd

# pandas 라이브러리 import 하기

In [1]:
# Python의 리스트(List) 타입의 데이터 생성하기
data=[3,5,1,2]
data

[3, 5, 1, 2]

In [2]:
# Pandas의 Series 타입의 데이터 생성하기
pandas.Series(data)

NameError: name 'pandas' is not defined

In [5]:
# pandas 라이브러리 임포트하기 (1)
import pandas
pandas.Series(data)

0    3
1    5
2    1
3    2
dtype: int64

In [6]:
# pandas 라이브러리 임포트하기 (2)
import pandas as pd
pd.Series(data)

0    3
1    5
2    1
3    2
dtype: int64

In [7]:
# pandas 라이브러리 임포트하기 (3)
from pandas import Series
Series(data)

0    3
1    5
2    1
3    2
dtype: int64

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

### 1) List를 사용하여 Series 생성하기

In [9]:
arr = [3, 5, 1, 2]
data1 = Series(arr)
data1

0    3
1    5
2    1
3    2
dtype: int64

In [12]:
data1.index = ['a','b','c','d']
data1

a    3
b    5
c    1
d    2
dtype: int64

In [13]:
data1 = Series(arr, index = ['a','b','c','d'])
data1

a    3
b    5
c    1
d    2
dtype: int64

### 2) Tuple을 사용하여 Series 생성하기

In [14]:
arr2 = (2,4,6,8)
data2 = Series(arr2)
data2

0    2
1    4
2    6
3    8
dtype: int64

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [15]:
arr3 = {
    'a': 3,
    'b': 5,
    'c': 1,
    'd': 2
}
data3 = Series(arr3)
data3

a    3
b    5
c    1
d    2
dtype: int64

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [16]:
type(data3.values)

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [17]:
data4 = Series([3, 5, 1.2, 'big data', [1,2,3]])
data4

0            3
1            5
2          1.2
3     big data
4    [1, 2, 3]
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [18]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [19]:
sample.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [20]:
sample.values

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100], dtype=int64)

3) size - Series의 크기 (데이터의 길이)

In [21]:
sample.size

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [22]:
sample.dtype

dtype('int64')

### 함수(Methods) - Series가 제공하는 다양한 기능 활용
* 함수 호출 시 전달되는 자료들을 인자(argument, parameter)라고 합니다.
* 각 함수들은 정해진 인자들이 있으며, 인자값들을 토대로 함수가 실행됩니다. 
* 동일한 함수라고 하더라도 인자값을 어떻게 설정하느냐에 따라 동작방식은 달라질 수 있습니다.

1) describe() - 통계 정보를 한 눈에 제공해주는 함수

In [23]:
sample.describe()

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

In [24]:
sample.describe(percentiles = [0.2, 0.4, 0.6, 0.8])

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
20%       71.000000
40%       85.000000
50%       87.500000
60%       90.000000
80%       91.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), avg(), ...

In [25]:
sample.max()

100

In [26]:
sample.mean()

81.0

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

In [27]:
sample.add_prefix('big-')

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

4) value_counts() - Series에 있는 데이터 값들의 개수

In [28]:
sample.value_counts()

90     3
85     2
75     1
55     1
45     1
95     1
100    1
dtype: int64

5) add(값) - Series의 데이터 각각에 값을 더하기

In [29]:
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

In [30]:
sample.add(other = 100)

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [31]:
sample.add([5,5,5,5,5,10,10,10,10,10])

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [32]:
sr = Series(80, index = ['k'])
sample = sample.append(sr)
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [33]:
sample.isin([80, 90])

a    False
b     True
c    False
d    False
e    False
f     True
g    False
h    False
i     True
j    False
k     True
dtype: bool

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [34]:
80 in sample.values

True

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [35]:
'h' in sample.index

True

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용

In [36]:
sample
# 90 이상이면 A, 80~89이면 B, 79 이하면 C로 변경하는 함수 정의
def get_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    else:
        return 'C'

In [37]:
get_grade(82)

'B'

In [38]:
sample.apply(get_grade)

a    B
b    A
c    C
d    C
e    C
f    A
g    A
h    B
i    A
j    A
k    B
dtype: object

## Series 인덱싱 - 원하는 데이터만 선택하기

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [39]:
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

In [40]:
sample['j']

100

In [41]:
sample[3]

55

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [42]:
# d와 g만 선택
sample[['d','g']]

d    55
g    95
dtype: int64

In [43]:
sample[[2,4]]

c    75
e    45
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택

In [44]:
# d부터 g까지의 값을 선택
#sample[['d','e','f','g']]
#sample['d':'g']
sample[3:7]

d    55
e    45
f    90
g    95
dtype: int64

In [45]:
# start idx와 end idx는 생략 가능
sample[:4]

a    85
b    90
c    75
d    55
dtype: int64

In [46]:
sample[7:]

h     85
i     90
j    100
k     80
dtype: int64

In [47]:
# 실습 1. g부터 j까지의 데이터 선택
sample['g':'j']

g     95
h     85
i     90
j    100
dtype: int64

In [48]:
# 실습 2. 맨 뒤에 있는 4개의 데이터를 선택
sample[-4:]

h     85
i     90
j    100
k     80
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [49]:
boolean_idx = [False, False, False, False, False, 
               True, True, True, True, True]

- boolean index를 조건을 통해 생성할 수 있다. 
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [51]:
sample[sample >= 70]

a     85
b     90
c     75
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

In [52]:
sample[sample > sample.mean()]

a     85
b     90
f     90
g     95
h     85
i     90
j    100
dtype: int64

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

In [53]:
sample[(sample>=50) & (sample<=80)]

c    75
d    55
k    80
dtype: int64

=============================================================
# 실습 문제

In [54]:
import random

In [55]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    22
B    79
C    57
D    46
E    37
F    15
G     5
H    40
I    12
J    51
K    48
L    82
M    10
N     7
O    32
P    91
Q    81
R    66
S    29
T     8
U    98
V     9
W    47
X    31
Y    94
Z    42
dtype: int64

In [56]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']

48

In [57]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A','F','C']]

A    22
F    15
C    57
dtype: int64

In [58]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    15
G     5
H    40
I    12
J    51
K    48
L    82
M    10
N     7
O    32
P    91
dtype: int64

In [59]:
# 4) 뒤에서 5개 항목 출력
data[-5:]

V     9
W    47
X    31
Y    94
Z    42
dtype: int64

In [60]:
# 5) data의 항목의 갯수를 출력
len(data)

26

In [61]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
data[data > data.mean()]

B    79
C    57
D    46
J    51
K    48
L    82
P    91
Q    81
R    66
U    98
W    47
Y    94
dtype: int64

In [62]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
50 in data.values

False

In [63]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX
for idx, val in data.items():
    print('index:',idx,',', 'value:',val)

index: A , value: 22
index: B , value: 79
index: C , value: 57
index: D , value: 46
index: E , value: 37
index: F , value: 15
index: G , value: 5
index: H , value: 40
index: I , value: 12
index: J , value: 51
index: K , value: 48
index: L , value: 82
index: M , value: 10
index: N , value: 7
index: O , value: 32
index: P , value: 91
index: Q , value: 81
index: R , value: 66
index: S , value: 29
index: T , value: 8
index: U , value: 98
index: V , value: 9
index: W , value: 47
index: X , value: 31
index: Y , value: 94
index: Z , value: 42